*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
key.txt

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/contentModel.xml

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

.idea/**/gradle.xml
.idea/**/libraries

pip-log.txt 
pip-delete-this-directory.txt 

.python-version 

.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history