{% extends "base.html"%}
{% block content %}
<div class="container">
            <div class="jumbotron" style="margin-top:47px;">
                <div></div>
                <h1 class="text-center">Co za práci?</h1>
                <p class="text-center">Popisy pracovních pozic od lidí, kteří je opravdu vykonávají</p>
                <p class="text-truncate text-center"><a class="btn btn-primary" role="button" href="#" target="_parent">Přejít na seznam pozic</a></p>
            </div>
        </div>
    </div>


{% endblock %}
