{% extends "base.html" %}

{% block content %}
<div class="container">
        <div class="jumbotron" style="margin-top:47px;">

            <h1 align="center">{{my_job.name}}</h1>
            <h2>Co si lidé myslí, že děláš?</h2>
            <p>{{my_job.prejudice}}</p>
            <h2>Co opravdu v práci děláš?</h2>
            <p>{{my_job.reality}}</p>
            <h2>Jak vypadá tvůj standartní pracovní den?</h2>
            <p>{{my_job.day_in_life}}</p>
            <h2>Jaký je tvůj plat?</h2>
            <p>{{my_job.salary}}</p>
            <h2>Je třeba k této práci nějaké vzdělání? Pokud ano, jaké?</h2>
            <p>{{my_job.education}}</p>

        </div>
</div>
{% endblock %}