{% extends "base.html"%}
{% block content %}

<div style="background-color:#656e7e;padding-top:21px;height:1000;">
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group align-items-center align-content-center" style="margin:auto;width:80%;">
        <label class="d-flex" style="color:rgb(255,255,255);">{{ form.name.label }}</label>
            {{ form.name(class="align-self-center", required="" ,placeholder="Např. Manažer, Pracovník zákaznické podpory, Zámečník atd....", style="width:100%;margin:auto;padding-left:0px;") }}
        <label class="d-flex" style="color:rgb(255,255,255);">{{ form.prejudice.label }}</label>
            {{ form.prejudice(class="align-self-center", required="", placeholder="Např. Programátor: Lidé si myslí, že dokážu se nabourat do databáze burzy atd...", style="width:100%;margin:auto;padding-left:0px;") }}
        <label class="d-flex" style="color:rgb(255,255,255);">{{ form.reality.label }}</label>
            {{ form.reality(class="align-self-center", required="", placeholder="Popis tvé pracovní pozice", style="width:100%;margin:auto;padding-left:0px;") }}
        <label class="d-flex" style="color:rgb(255,255,255);">{{ form.day_in_life.label }}</label>
            {{ form.day_in_life(class="align-self-center", placeholder="Přijdu v 8 hodin, pozdravím kolegy, uvařím kafe, udělám snídani, zkontroluji maily........", style="width:100%;margin:auto;padding-left:0px;") }}
        <label class="d-flex" style="color:rgb(255,255,255);">{{ form.salary.label }}</label>
            {{ form.salary(class="align-self-center", required="", placeholder="Za měsíc. Nemusíš uvádět přesnou částku, pokud nechceš. Vyplňování je anonymní.", style="width:100%;margin:auto;padding left:0px;") }}
        <label class="d-flex" style="color:rgb(255,255,255);">{{ form.education.label }}</label>
            {{ form.education(class="align-self-center", required="", placeholder="Vysoká škola? Samouk? Neboj se rozepsat", style="width:100%;margin:auto;padding left:0px;") }}
            {{ form.submit(class="btn btn-info btn-lg", type="submit", style="padding-bottom:23px;margin:0px;width:168px;height:46px;padding-left:21px;margin-top:14px;margin-left:373px;padding-top:6px;") }}
          </div>
      </form>
    </div>

{% endblock %}
